
body {
    padding: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
img{

    height: 350px;
    width: 350px;
    margin: 0 auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

